# Desc: Player sample configuration file for controlling Stage CARMEN
#        Based upon simple.cfg from Vaughan
# Author:  Manuel Fdez.


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "agevole.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model 
driver
( 
  name "stage"
  provides [ "position2d:0" "ranger:0" "ranger:1" ]
# "power:0"
  model "carmen" 
)

# para ver los objetivos parciales en el simulador usando puerto 6666
# revisar PTA.world para incluirlo o no
driver
( 
  name "stage"
  provides [ "6666:position2d:0" "6666:graphics2d:0"] 
  model "eje"
)
