<!-- 

Objetivo: fusionar los dos scans en uno solo
Version que tira del archivo laser.bag -> tener en cuenta para los topics
Version con los topic scan mezclados: vamos a convertirlos en un solo cloud con el scan_assembler



-->

<launch>



<!-- ***************  FRONT LASER  ********************************** -->
  
<!-- ...............  nodo hokuyo  
topic: /hokuyo_front/scan
frame_id: base_laser_front
.................................. -->



<!-- ...............  posicion del laser  .................................. -->
<!--  
Publish a static coordinate transform to tf using an x/y/z offset and yaw/pitch/roll. 
The period, in milliseconds, specifies how often to send a transform. 100ms (10hz) is a good value.  
Args are:    x y z qx qy qz qw frame_id child_frame_id  period_in_ms
-->  
<node name="front_laser_broadcaster" 	pkg="tf" type="static_transform_publisher" 
	args="0.3 0 0.2 3.14 0 0 1   /base_link  /base_laser_front 100" />

<!-- ...............  filtrado de puntos de los lasers  .................... -->
<node name="laser_filter_front" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam command="load" file="./hokuyos_config.yaml" />
    <remap from="scan" to="/hokuyo_front/scan" />
</node>

<!-- ***************  REAR LASER  ********************************** -->
  
<!-- ...............  nodo hokuyo  
topic: /hokuyo_rear/scan
frame_id: base_laser_rear
.................................. -->

<!-- ...............  posicion del laser  .................................. -->
<!--  
Publish a static coordinate transform to tf using an x/y/z offset and yaw/pitch/roll. 
The period, in milliseconds, specifies how often to send a transform. 100ms (10hz) is a good value.  
Args are:    x y z qx qy qz qw frame_id child_frame_id  period_in_ms
-->  

 
<node name="rear_laser_broadcaster" 	pkg="tf" type="static_transform_publisher" 
	args="-0.3 0 0.3 0 0 3.14 1   /base_link  /base_laser_rear 100" /> 

<!-- ...............  filtrado de puntos de los lasers  .................... -->


<node name="laser_filter_rear" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam command="load" file="./hokuyos_config.yaml" />
    <remap from="scan" to="/hokuyo_rear/scan"/>
</node>

<!-- ***************  COMUN A LOS LASERS  ********************************** -->


<!-- ...............  conversion de los scans a nube de puntos  .................... -->
<node type="laser_scan_assembler" pkg="laser_assembler" name="hokuyo_assembler">
    <remap from="scan" to="scan_filtered"/> 
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>


</launch>
