<!--

estado: slam no consigue registrar nuevos scans: !parametros


-->


<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

<include file="/home/mfcarmona/ros/isis/CARMEN/launch/stage/stageCARMEN.launch" />

<include file="./slam_gmapping.xml"/>  

  <!-- start teleop node -->
  <node pkg="teleop_base" type="teleop_base_keyboard" output="screen" name="teleoper" >
    <remap from="base_controller/command" to="/cmd_vel" />
  </node>

<node name="rviz" pkg="rviz" type="rviz" args="-d /home/mfcarmona/ros/isis/CARMEN/launch/test_gmapping/testGmapping.vcg" />

</launch>
